.sa-hero {
    max-width: 1600px;
    margin: 0 auto 0 auto;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.sa-headings-container {
    display: flex;
    justify-content: center;
    font-family: "JetBrains Mono";
    font-size: 18px;
    letter-spacing: 2px;
    width: 100%;
    color: #c3c3c3;
    @media(min-width: 768px) {
        width: 95%;
        justify-content: space-between;
        margin: 0 auto 0 auto;
        font-size: 30px;
    }
    @media(min-width:1024px) {
        font-size: 40px;
    }
    @media(min-width: 1440px) {
        font-size: 55px;
    }
    @media(min-width: 1600px) {
        width: 100%;
        font-size: 65px;
    }
}

.sa-headings-container h6 {
    display: none;
    @media(min-width: 768px){
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.sa-info-images-container {
    width: 100%;
    display: flex;
    @media(min-width:768px){
        width: 95%;
        margin: 0 auto 0 auto;
    }
}

.sa-images-container {
    width: 100%;
    margin-bottom: 15px;
}

.sa-info-container {
    width: 36%;
    color: #c3c3c3;
    display: none;
    font-family: 'JetBrains Mono';
    @media(min-width:768px) {
        display: flex;
    }
}

.sa-images-innercontainer1 {
    display: flex;
    @media(min-width:1024px) {
        margin-bottom: 8px;
        width: 716px;
    }
}

.sa-images-innercontainer2 {
    display: flex;
    flex-direction: column;
    @media(min-width:1024px){
        flex-direction: row;
    }
}

.sa-images-innercontainer1-leftslides {
    width: 100%;
    @media(min-width:1024px){
        width: 225px;
    }
}

.sa-images-innercontainer1-slide1 {
    display: flex;
    flex-direction: column;
    width: 95%;
    margin: 0 auto 0 auto;
    background-color: white;
    margin-bottom: 15px;
    border-radius: 12px;
    justify-content: space-between;
    @media (min-width:1024px) {
        width: 100%;
        margin-bottom: 2%;
    }
}

.sa-images-innercontainer1-slide2 {
    width: 95%;
    margin: 0 auto 0 auto;
    background-color: white;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 15px;
    @media (min-width:1024px) {
        width: 100%;
        margin-bottom: 0;
    }
}

.sa-imagecontainer-slide2 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85%;
}

.sa-slide2-info {
    border-top: 1px solid black;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sa-slide2-title {
    margin-left: 3%;
    font-family: 'JetBrains Mono';
}

.sa-slide2-price {
    margin-right: 3%;
    font-family: 'JetBrains Mono';
}

.sa-imagecontainer-images-rightslides-slide1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 92.5%;
    @media(min-width: 1024px){
        height: auto;
    }
}

.sa-slide1-rightslides-info {
    border-top: 1px solid black;
    height: 7%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sa-slide1-rightslides-title {
    margin-left: 3%;
    font-family: 'JetBrains Mono';
}

.sa-slide1-rightslides-price {
    margin-right: 3%;
    font-family: 'JetBrains Mono';
}


.sa-slide1-info {
    border-top: 1px black solid;
    display: flex;
    justify-content: space-between;
    height: 40px;
    align-items: center;
}

.sa-slide1-price {
    margin-right: 3%;
    font-family: 'JetBrains Mono';
}

.sa-slide1-title {
    margin-left: 3%;
    font-family: 'JetBrains Mono';
}

.sa-imagecontainer-slide1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85%;
}

.sa-images-innercontainer1-rightslides {
    display: none;
    @media(min-width:1024px){
        display: flex;
        width: 501px;
    }
}

.sa-images-innercontainer1-rightslides-slide1 {
    width: 100%;
    background-color: white;
    margin-left: 1%;
    border-radius: 12px;
}

.sa-images-innercontainer2-row1 {
    display: flex;
    margin-bottom: 6px;
    flex-direction: column;
    width: 100%;
    @media(min-width:1024px){
        flex-direction: row;
        width: 862px;
        margin: 0 auto 0 auto;
    }
}

.sa-images-innercontainer2-row1-slide1 {
background-color: white;
width: 95%;
margin: 0 auto 0 auto;
border-radius: 12px;
margin-bottom: 15px;
@media (min-width:1024px) {
    width: 221px;
}
}

.sa-images-innercontainer2-row1-slide2 {
    background-color: white;
    width: 95%;
    margin: 0 auto 0 auto;
    border-radius: 12px;
    margin-bottom: 15px;
}

.sa-images-innercontainer2-row1-slide3 {
    background-color: white;
    width: 95%;
    margin: 0 auto 0 auto;
    border-radius: 12px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    @media(min-width: 1024px){
        width: 221px;
    }
}

.sa-images-innercontainer2-row2 {
    display: flex;
}
        
.sa-images-innercontainer2-row2-slide1 {
    background-color: white;
    width: 350px;
    height: 350px;
    border-radius: 12px;
    margin-right: 6px;
}
        
.sa-images-innercontainer2-row2-slide2 {
    background-color: white;
    width: 350px;
    height: 350px;
    border-radius: 12px;
    margin-right: 6px;
}

.sa-images-innercontainer2-row2-slide3 {
    background-color: white;
    width: 350px;
    height: 350px;
    border-radius: 12px;
}


.sa-imagecontainer2-row1-slide1-image {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85%;
}

.sa-row1-slide1-info {
    border-top: 1px solid black;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sa-row1-slide1-title {
    margin-left: 3%;
}

.sa-row1-slide1-price {
    margin-right: 3%;
}

.sa-imagecontainer2-row1-slide1-image {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85%;
}

.sa-row1-slide1-title {
    margin-left: 3%;
    font-family: 'JetBrains Mono';
}

.sa-row1-slide1-price {
    margin-right: 3%;
    font-family: 'JetBrains Mono';
}

.sa-imagecontainer2-row1-slide2-image {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85%;
}

.sa-row1-slide2-info {
    border-top: 1px solid black;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sa-row1-slide2-title {
    margin-left: 3%;
    font-family: 'JetBrains Mono';
}

.sa-row1-slide2-price {
    margin-right: 3%;
    font-family: 'JetBrains Mono';
}

.sa-imagecontainer2-row2-slide1-image {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85%;
}

.sa-row2-slide1-info {
    border-top: 1px solid black;
    height: 15%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sa-row2-slide1-title {
    margin-left: 3%;
}

.sa-row2-slide1-price {
    margin-right: 3%;
}

.sa-imagecontainer2-row2-slide2-image {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85%;
}

.sa-row2-slide2-info {
    border-top: 1px solid black;
    height: 15%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sa-row2-slide2-title {
    margin-left: 3%;
}

.sa-row2-slide2-price {
    margin-right: 3%;
}

.sa-imagecontainer2-row2-slide3-image {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85%;
}

.sa-row2-slide3-info {
    border-top: 1px solid black;
    height: 15%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sa-row2-slide3-title {
    margin-left: 3%;
}

.sa-row2-slide3-price {
    margin-right: 3%;
}

.sa-imagecontainer2-row1-slide3-image {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85%;
}

.sa-row1-slide3-info {
    border-top: 1px solid black;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media(min-width:1100px) {
        height: 46px;
    }
}

.sa-row1-slide3-title {
    margin-left: 3%;
    font-family: 'JetBrains Mono';
}

.sa-row1-slide3-price {
    margin-right: 3%;
    font-family: 'JetBrains Mono';
}

@media(min-width:1024px) {
    .sa-slide1-rightslides-info 
    {
        height: 39px;
    }
    .sa-images-innercontainer2-row1-slide3 {
        justify-content:unset;
        margin-right: 0px;
    }
    .sa-imagecontainer2-row1-slide3-image 
    {
        height: auto;
    }
    .sa-images-innercontainer2-row1-slide1 {
        margin-bottom: 0px;
        margin-left: 0px;
    }
    .sa-images-innercontainer2-row1-slide2 {
        margin-bottom: 0px;
        width: 225px;
    }

    .sa-images-innercontainer2 
    {
        width: 716px;
    }
}

@media (min-width: 1100px) {
    .sa-images-innercontainer1-leftslides
    {
        width: 270px;
    }
    .sa-images-innercontainer1-rightslides {
        width: 592px;
    }
    .sa-images-innercontainer1 
    {
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .sa-images-innercontainer2 
    {
        width: 100%;
    }
    .sa-images-innercontainer2-row1-slide1 {
        width: 270px;
    }
    .sa-images-innercontainer2-row1-slide2 {
        width: 270px;
    }
    .sa-images-innercontainer2-row1-slide3 {
        width: 270px;
    }
}

@media (min-width: 1440px) {
    .sa-images-innercontainer1-leftslides 
    {
        width: 325px;
    } 
    .sa-images-innercontainer1-rightslides {
        width: 704px;
    }
    .sa-images-innercontainer2 
    {
        width: 1029px;
        margin: 0 auto 0 auto;
    }
    .sa-images-innercontainer2-row1-slide1 {
        width: 325px;
    }
    .sa-images-innercontainer2-row1-slide2 {
        width: 325px;
    }
    .sa-images-innercontainer2-row1-slide3 {
        width: 325px;
    }
    .sa-images-innercontainer2-row1 
    {
        width: 1030px;
    }
    .sa-row1-slide3-info 
    {
        height: 61px;
    }
    .sa-imagecontainer2-row1-slide2-image 
    {
        height: 90%;
    }
    .sa-imagecontainer2-row1-slide1-image 
    {
        height: 90%;
    }
    .sa-imagecontainer2-row1-slide3-image 
    {
        height: 144%;
    }
}

@media (min-width: 1600px){
    .sa-info-images-container 
    {
        width: 100%;
    }
    .sa-images-innercontainer1-rightslides {
        width: 851px;
    }
    .sa-images-innercontainer1-leftslides 
    {
        width: 397px;
    }
    .sa-images-innercontainer2-row1-slide1 {
        width: 397px;
    }
    .sa-images-innercontainer2-row1-slide2 {
        width: 397px;
    }
    .sa-images-innercontainer2-row1-slide3 {
        width: 397px;
    }
    .sa-images-innercontainer2 
    {
        width: 100%;
    }
    .sa-images-innercontainer2-row1 
    {
        width: 100%;
    }
    .sa-row1-slide3-info 
    {
        height: 73px;
    }
}